/*Y ahora los estilos:*/
/*Se importan las fuentes especiales...*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Se le da color a los links*/
a
{
	color: #DD4F24;
	text-decoration: none;
}
/*Características básicas del body*/
body
{
	/*Color de fondo de la página.*/
	background: #EFEFEF;
	/*Color de la fuente*/
	color: #4C4C4C;
	/*Tipografía(PT Sans), y, en caso de que no se pueda cargar esa...Arial*/
	font-family: "PT Sans", Arial;
	/*Tamaño de fuente*/
	font-size: 16px;

}
/*Y del footer...[De auí todo es muy intuitivo, así que sólo explicaré lo importante]*/
footer
{
	background: #434343;
	color: #A7A7A7;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
/*Anidados: estamos diciendo que le aplique los estilos a el párrafo que esté dentro del footer*/
footer p
{
	margin: 0;
}
header
{
	background: #434343;
	color: white;
	margin: 0;
	padding: 0.5em;
	position: relative;
}
header a div
{
	background-color: #22BCE0;
	/*El redondeado del borde */
	border-radius: 3px 3px 0 0;
	color: white;
	font-size: 1.1em;
	/*El alto*/
	height: 25px;
	/*El ancho*/
	width:80px;
	position: absolute;
	/*Espacio desde abajo*/
	bottom: 0;
	/*Espacio desde la izquierda*/
	left: 60%;
	padding: 0 10px;
	vertical-align: middle;
	
 
}
/*Agregar las tipografías especiales :o*/
/*Despues del div que contiene el link que está en el header...*/
header a div:after
{
	/*Agregar la "letra":*/
	content: "\e002";
	/*50% de opacidad*/
	opacity: 0.5;
	/*Y la fuente(Lo más importante)que sabe a qué caracter se refiere*/
	font-family: "icomoon";
	/*Que se pegue a la derecha*/
	float: right;
	/*Y que pase por toda la mitad*/
    line-height: 22px;
	
}
/*Organizando algunos bugs del header...*/
header:after
{
	clear: both;
	content: "";
	display: block;
}
/*cuando el cursor esté sobre el header*/
header a div:hover
{
	background-color: #20B1D3
}
header figure
{
	float: left;
}
header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
	display: block;
}
header #avatar
{
	position:  absolute;
	top: 0;
	right: 0;
	margin: 1em 1em 0 0;
}
header #avatar figcaption
{
	background: #22BCE0;
	float: right;
	height: 50px;
	line-height: 50px;
}
/*Más tipografías especiales...*/
header #avatar figcaption:after
{
	content: "\e001";
	font-family: "icomoon";
	font-size: 0.7em;
	opacity: 0.5;
}
header #avatar img
{
	float: left;
	width: 50px;
}
header #logo
{
	max-height: 80px;
	width: 100px;
}
header #logo img
{
	width: 80px;
}
nav
{
	background: #878787;
	font-size: 0.9em;
}

nav ul
{
	/*Eliminando los puntos de los li(List items)*/
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	padding: 0 0.6em;
	vertical-align: top;
	margin: 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;

}
nav ul li:hover
{

	background-color: #7C7C7C;
}
nav #flechita_nav 
{
	padding-left: 0; 
	padding-right: 0; 
}
nav #flechita_nav a
{
	background: #22BCE0;
	padding: 0.5em 0;
	text-decoration: none;
}
nav #flechita_nav a:after
{
	content: "\e000";
	font-family: "icomoon";
	opacity: 0.6;
}

nav #publicar_nav
{
	background: #DD4F24;
	float: right;
	margin-right: 0; 
	padding-right: 1em;
	position: relative;
}
nav #publicar_nav a
{
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
}
nav #publicar_nav:after
{
	color: rgba(255,255,255,0.5);
	content:  "\e004";
	font-family: "icomoon";
	font-size: 1.8em;
	position: absolute;
	right: 0;
	top: 0;
}

nav #publicar_nav:hover
{
	background: #FF5B29;
}
#bienvenida
{
	display: none;
}

{
	margin: 1em;
}
 .item
{
	background: white;
	border-bottom: 3px #22BCE0 solid;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}
#contenido  p,
#contenido  p
{
	color: #7A7A7A;
	font-size: 0.9em;
}
 .primer_item
{
	background: white;
	border-bottom: 3px #de5659 solid;
	margin-bottom: 3em;
	min-height: 128px;
	padding-right: 1em;
	position: relative;
}
  .primer_item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	margin: 3px 0 0 0;
	padding: 0.5em 0;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 96px;
}
 .primer_item .votacion a
{
	text-decoration: none;
}
 .primer_item .votacion .down:after,
 .primer_item .votacion .up:after
{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;
}
 .primer_item .votacion .down:after
{
	color: red;
	content: "\e001";
}
 .primer_item .votacion .up:after
{
	color: green;
	content: "\e002";
}
 .primer_item .datos_item .guardar_item
{
	margin: 0 1em;
	text-decoration: none;
}
 .primer_item .datos_item .guardar_item:after
{
	color: #FD5;
	content: "\e003";
	font-family: "icomoon";
}
/****************************************************/
  #item_resaltado
{
	padding: 0;
	margin: 0 auto;
}
  #item_resaltado #votacion
{
	padding: 0;
	margin: 0 auto;
}
  #item_resaltado #imagen_grande
{
	font-size: 1.3em;
	position: relative;
}
  #item_resaltado #imagen_grande #info_resaltada
{
	background: rgba(225,225,225,0.8);
	bottom:5px;
	border-bottom: 3px solid #DD4F24;
	position: absolute;
	text-align: left;
	width: 100%
}
  #item_resaltado .votacion
{
	float: left;
	height: 3em;
	text-align: center;

	width: 15%;
	vertical-align: middle;
}
  #item_resaltado #datos_resaltados
{
	float: right;
	width: 85%;
}
  .datos_item

{
	text-align: right;
}
  .datos_item .comentarios_item

{
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	position: relative;
	/*Eliminando toda decoración del texto*/
	text-decoration: none;
}
 .datos_item .comentarios_item:after
{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #878787;
	content: "";
	left :18px;
	position: absolute;
	top:100%;
}
 .item .datos_item .guardar_item
{
	margin: 0 1em;
	text-decoration: none;
}
 .item .datos_item .guardar_item:after
{
	color: #FD5;
	content: "\e003";
	font-family: "icomoon";
}
 .datos_item .tag_item

{
	background: #22BCE0;
	border-radius: 0.5em;
	color: white;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
  .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
  .imagen_item img
{
	width: 96px;
}
 .titulo_item
{
	font-size: 1em;
	font-style: italic;
	padding: 0.5em 0.5em 0;
}
  .titulo_item a
{
	color: #444;
	text-decoration: none;
}
  .item .votacion
{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	margin: 3px 0 0 0;
	padding: 0.5em 0;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 96px;
}
 .votacion a
{
	text-decoration: none;
}
  .votacion .down:after,
  .votacion .up:after
{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;
}
  .votacion .down:after
{
	color: red;
	content: "\e001";
}
 .votacion .up:after
{
	color: green;
	content: "\e002";
}
#item_resaltado
{
	/*Borrando algunas cosas que apareceremos cuando sea un desktop...*/
	display: none;
}