@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 25px 3px rgba(34, 188, 224, 0.6);
    
  }
  100% {
    -webkit-box-shadow: 0 0 25px 3px rgba(224, 85, 38, 0.8),
     0 0 45px 5px rgba(224, 85, 38, 0.5);

  }
}
@-moz-keyframes glow {
  0% {
    -moz-box-shadow: 0 0 25px 3px rgba(34, 188, 224, 0.6);
    
  }
  100% {
    -moz-box-shadow: 0 0 25px 3px rgba(224, 85, 38, 0.8),
     0 0 45px 5px rgba(224, 85, 38, 0.8);
  }
}
@-o-keyframes glow {
  0% {
    box-shadow: 0 0 25px 3px rgba(34, 188, 224, 0.6);
  
  }
  100% {
    box-shadow: 0 0 25px 3px rgba(224, 85, 38, 0.8),
     0 0 45px 5px rgba(224, 85, 38, 0.8);

  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 25px 3px rgba(34, 188, 224, 0.6);
  
  }
  100% {
    box-shadow: 0 0 25px 3px rgba(224, 85, 38, 0.8),
     0 0 45px 5px rgba(224, 85, 38, 0.8);

  }
}
a
{
	color: #DD4F24;
}
body
{
	background: #EFEFEF;
	color: #4C4C4C;
	min-width: 472px;
	font-family: "PT Sans", Arial;
	font-size: 16px;
	margin: 0;
}
/*
comentario de lo que sea
*/
footer
{
	background: #434343;
	color: #A7A7A7;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
footer p
{
	margin: 0;
}
header
{
	background: #434343;
	color: white;
	margin: 0;
	padding: 0.5em;
	position: relative;
}
header:after{
	clear: both;
	content: "";
	display: block;
}
header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
	display: block;
	text-align: center;
}
header #avatar
{
	float: right;
	margin: 1em 1em 0 0;
	position:  absolute;
	top: 0;
	right: 0;
}
header #avatar figcaption
{
	background: #22BCE0;
	height: 50px;
	margin-left: 50px;
	line-height: 50px;
}
header #avatar figcaption:after
{
	content: "\e001";
	font-family: "icomoon";
	font-size: 0.7em;
	opacity: 0.5;
}
header #avatar img
{
	border-radius: 10px 0 0 10px;
	float: left;
	width: 50px;
}
header #logo
{
	float: left;
}
header #logo img
{
	border-radius: 100px;
	width: 80px;
}
nav
{
	background: #878787;
	font-size: 0.9em;
	position: relative;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}
nav ul li a
{
	color:#FFF ;
	display: block;
	padding: 0.5em 0;
	text-decoration: none;

}
nav ul li a:hover 	
{
	color: rgb(224, 85, 38);
	text-shadow: 0px 2px 2px #333,
                  0px -2px 0px #666;
}

nav ul li:first-child a
{
	background: #22BCE0;
	border-radius: 0 2px 2px 0;
	color: #FFF;
	padding: .55em .2em .4em 0;
	text-decoration: none;
	position: absolute;
	left:0;
	bottom: 0;
}
nav ul li:first-child a:after
{
	content: "\e000";
	font-family: "icomoon";
	opacity: 0.6;
}
nav ul li:last-child
{
	/*i is zorri*/
	background: #DD4F24;
	border-radius: 2px 0 0 2px;
	float: right;
	margin-right: 0; 
	padding-left: .6em;
	padding-right: 3em;
	position: relative;

}
nav li:last-child a:after
{
	color: rgba(255,255,255,0.6);
	content:  "\e004";
	font-family: "icomoon";
	font-size: 1.8em;
	padding: .1em .3em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
nav ul li:last-child a
{
	color:#FFF;
	display: inline-block;
	text-decoration: none;
}

nav ul li:nth-child(2) a,
nav ul li:nth-child(3) a, 
nav ul li:nth-child(4) a,
nav ul li:nth-child(5) a,
nav ul li:nth-child(6) a
{
	
	text-shadow:
     -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000,
     0px 2px 2px #333,
     0px -2px 0px #666;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3),
nav ul li:nth-child(4),
nav ul li:nth-child(5),
nav ul li:nth-child(6)
{
	width: 10%;

}

#bienvenida
{
	display: none;
}
#contenido
{
	margin: 1em;
}
#contenido article
{
	background: white;
	border-bottom: 3px #22BCE0 solid;
	border-radius: .5em .5em .5em 0;
	margin-bottom: 2.5em;
	min-height: 133px;
	position: relative;
}
#contenido article p
{
	color: #7A7A7A;
	font-size: 0.9em;
}
#contenido article .datos_item
{
	text-align: right;
}
#contenido article .datos_item .comentarios_item
{
	background: #878787;
	border-radius: 4px;
	color: white;
	margin: 0 0 0 2em;
	padding: 4px;
	position: relative;
	text-decoration: none;
}
#contenido article .datos_item .comentarios_item:after{
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #878787;
	content: "";
	left :10px;
	position: absolute;
	top:100%;
}
#contenido article .datos_item .guardar_item
{
	margin: 0 1em;
	text-decoration: none;
}
#contenido article .datos_item .guardar_item:after
{
	color: #FD5;
	content: "\e003";
	font-family: "icomoon";
}
#contenido article .datos_item .tag_item
{
	background: #22BCE0;
	border-radius: 0.5em;
	color: white;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
#contenido article .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}
#contenido article  .imagen_item img
{
	border-radius: .5em 0 0 0;
	width: 100px;
}
#contenido article  .titulo_item
{
	font-size: 1em;
	font-style: italic;
	padding: 0.5em 0.5em 0;
}
#contenido article  .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido article .votacion
{
	background: white;
	border-radius: 0 0 .5em .5em;
	margin: 3px 0 0 0;
	padding: .25em 0;
	position: absolute;
	text-align: center;
	font-size: .8em;
	top: 100%;
	width: 100px;
}
#contenido article .votacion a
{
	text-decoration: none;
}
#contenido article .votacion .down:after,
#contenido article .votacion .up:after
{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;
}
#contenido article .votacion .down:after
{
	color: red;
	content: "\e001";
}
#contenido article .votacion .up:after
{
	color: green;
	content: "\e002";
}

.hover {
    cursor: pointer;
}

#logo img:hover,#logo img.hover_effect  {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;

  -moz-animation-name: pulse;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;

  -o-animation-name: pulse;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: alternate;
  -o-animation-timing-function: ease-in-out;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}



