@media screen and (min-width: 768px)
{
	body
	{
		margin: 0 auto;
		max-width: 1200px;
	}
	#actividades h2
	{
		background: #db585b;
		color:#fff;
		font-size:1.1em;
		font-weight: normal;
		padding: 0.3em 0;
		margin: 2em auto 1em auto;
		text-align: center;
	}
	#actividades h2 a
	{
		color:#fff;
		text-decoration: none;
	}
	#actividades .actividades
	{
		border-bottom: 1px solid #CCC;
		position: relative;
		padding: 0.5em 0;
	}
	#actividades .actividades p
	{
		color:#999999;
		display: inline-block;
		margin:0;
		margin-left: calc(48px + 1em);

	}
	#actividades .actividades .comentarios_actividades
	{
		background: #db585b;
		border-radius: 4px;
		color: white;
		display: inline-block;
		font-size:1em;
		font-weight: bold;
		margin: 1em 0.5em;
		padding: 4px;
		position: absolute;
		text-align: center;
		text-decoration: none;
		width: 40px;
	}
	#actividades .actividades .comentarios_actividades:after
	{
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #db585b;
		content: "";
		right :5px;
		position: absolute;
		top:100%;
	}

	#bienvenida
	{
		border-bottom: 1px solid #bebebe;
		color:#999999;
	}
	#bienvenida h2
	{
		color: #606060;
		margin-bottom: 0;
	}
	#bienvenida #mensaje_registro,
	#bienvenida #registro
	{
		text-align: center;
	}
	#bienvenida #mensaje_registro
	{
		font-size: 0.8em;
	}
	#bienvenida #registro
	{
		background: #22BCE0;
		-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.21);
		-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.21);
		box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.21);
		color: white;
		display: block;
		font-size: 1.2em;
		font-weight: bold;
		padding: 0.5em 0;
		text-decoration: none;
	}
	#contenido
	{
		width: 70%;
	}
	#desktop_barra
	{
		margin-right: 2%;
		float: right;
		width: 25%;
	}
	.desktop
	{
		display: block;	
	}
}